@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
  --accent-bg: lightgray;
  --heading-font: "Silkscreen", monospace;
}


#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

header h1 {
  margin: 15px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: normal;
}

a {
  font-family: var(--heading-font);
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 5px 20px;
  cursor: pointer;
  transition: .3s;

}

button:hover {
  background-color: rgb(162, 162, 162);
  color: white;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0 20px;
}



footer {
  height: 50px;
  background: var(--accent-bg);
}

#main-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

nav {
  text-align: right;

}

nav a {
  text-decoration: none;
  padding: 4px;
  margin: 10px;
  transition: .3s;
}

nav a:hover,
nav a:visited:hover {
  padding-bottom: 10px;
  background-color: var(--text);
  color: white;
}

nav a:visited {
  color: var(--text);
}

/*////////////////////////
ELEMENT RESET
///////////////////////*/

p {
  margin: 0;
}

/*////////////////////////
BUTTONS
///////////////////////*/

#new-poll-button {
  display: block;
  padding: 20px;
  border: 1px solid black;
}

#frontpage-button-container {
  display: flex;
  justify-content: center;
}

button {
  font-family: var(--heading-font)
}

/*////////////////////////
WELCOME
///////////////////////*/

#welcome-message {
  width: 100%;
}

/*////////////////////////
FRONT PAGE
///////////////////////*/
#welcome-message p {
  margin: 20px 0;
}

/*////////////////////////
NEW POLL
///////////////////////*/

#game-option-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-option-item {
  border: 1px solid black;
  margin: 20px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  animation: fade-in;
  animation-duration: .5s;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 20px black;
  transition: .3s;
}

#clear-container {
  width: 100%;
}

#reset-slots {
  margin: 0 10px;
}

#add-more-container {
  width: 80%;
  text-align: right;
  position: sticky;
  top: 0;
  background: white;
  padding: 20px;
  z-index: 150;
  margin-bottom: 50px;
}

.game-option-item h2 {
  margin: 10px;
  font-size: .8rem;
  background-color: white;
  padding: 5px;
}

.add-game-button {
  margin: 20px;
  border: 2px solid black;
  width: 90%;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remove-slot-button {
  position: absolute;
  top: 10px;
  right: 10px;
  translate: 0 -150%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 151;
}

.search-container {
  width: 500px;
  max-height: 50vh;
  text-align: center;
  background-color: white;
  position: relative;
}

.search-container #search-box,
#share-code {
  height: 50px;
  margin: 20px;
  width: 400px;
  font-size: 1.2rem;
  padding: 5px;
  font-family: var(--heading-font);
  border: 5px solid #e3e3e3;
}

.search-container #search-box:focus {
  outline: none;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  border: 1px solid black;
  transition: .3s;
  cursor: pointer;
  box-shadow: 1px -4px 15px rgba(0, 0, 0, .25);
  border-radius: 20px;
  overflow: hidden;
}

.search-result>img {
  border-left: 2px solid black;
}

.search-result>h4 {
  margin: 10px;
}

.search-result:hover {
  scale: 1.02;
}

#results-container {
  position: absolute;
  background: white;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}

.game-cover {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  height: 100%;
  width: auto;
  background-size: cover;
  z-index: -1;
  filter: grayscale(1) opacity(0.5);
  transition: .3s;
}

.game-option-item:hover {
  translate: 0 -10px;
  scale: 1.02;
}

.game-option-item:hover .game-cover {
  filter: none;

}

.game-option-item:hover .remove-slot-button {
  translate: 0;
}

#no-results-p {
  margin: 20px;
}

#save-poll-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/*////////////////////////
Join Poll
///////////////////////*/

#join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#share-code:focus {
  outline: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    translate: 0 -50%;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}