:root {
  --accent-bg: lightgray;
}


#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  border: 1px black solid;
  height: 100px;
  display: flex;
  background-color: red;
}

#spacer {
  flex: 1;
}

footer {
  padding: 50px 0;
  background: var(--accent-bg);
}

#main-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  padding: 50px 0;
  flex-wrap: wrap;
  flex-direction: column;
}

/*////////////////////////
ELEMENT RESET
///////////////////////*/

p {
  margin: 0;
}

/*////////////////////////
BUTTONS
///////////////////////*/

#new-poll-button {
  display: block;
  margin: 20px;
  padding: 20px;
}

#frontpage-button-container {
  display: flex;
  justify-content: center;
}

/*////////////////////////
WELCOME
///////////////////////*/

#welcome-message {
  width: 100%;
}


/*////////////////////////
NEW POLL
///////////////////////*/

#game-option-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-option-item {
  border: 1px solid black;
  margin: 20px;
  flex-basis: 300px;
  height: 500px;

}